@import "main";

.header {
  padding-top: 40px;
  margin-bottom: 90px;
  transition: transform .3s ease-in-out;
}

.header.active {
  transform: translateY(-100%);
}

.header-wrapper {
  @include displayFlex;
}

.header-version {
  @include displayFlex;
  max-width: 343px;
  width: 343px;
  padding: 14px 16px;
  border-radius: 36px;
  background-color: $colorGrey;

  .header-version__text {
    font-size: 20px;
    line-height: 98.023%;
    letter-spacing: -0.4px;
  }

  .header-version__line {
    height: 20px;
    width: 1px;
    background-color: $colorWhite;
  }

  .header-version__img {
    transition: all .2s ease;
  }

  .header-version__img.blue {
    stroke: $colorBlue;
    fill: $colorBlue;
  }
}

.header-wrapper__right {
  @include displayFlex;

  .header-wrapper__alerts {
    width: 23px;
    height: 26px;
    background-image: url('@/assets/img/header/alerts-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 24px;
    transition: all .15s ease-in-out;

    path {
      transition: all .15s ease;
    }

    &:hover {
      transform: scale(120%);

      path {
        stroke: $colorWhite;
      }
    }

  }

  .header-profile__link {
    @include displayFlex;
    max-width: 100px;

    .header-wrapper__profile {
      margin-right: 12px;
      fill: $colorGrey;
      transition: fill .15s ease;
    }

    .header-profile__username {
      font-size: 16px;
      letter-spacing: 1.2px;
      color: $colorGrey;
      transition: color .15s ease;
    }
  }

  .header-profile__link:hover {

    .header-wrapper__profile {
      fill: $colorWhite;
    }

    .header-profile__username {
      color: $colorWhite;
    }
  }
}