@import "main";

.main-wrapper {
  z-index: 1;
  position: relative;
  padding: 40px;
  background-color: $colorGrey;
  border-radius: 20px;
}

.main-info {
  position: relative;
  z-index: -1;
  @include displayFlex;
  margin-bottom: 110px;
}

.main-info__quantity-block {
  position: relative;
  @include displayFlex;
  width: 130px;
  margin-right: 40px;

  .main-info__restart {
    position: absolute;
    right: 0;
  }
}

.quentity-block__text {
  font-size: 25px;
  line-height: 98.023%;
  letter-spacing: -0.8px;
  color: $colorOrange;
  transition: color .2s ease;
}

.quentity-block__text.blue {
  color: $colorBlue;
}

.main-info__timer {
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid $colorOrange;
  transform: translateX(-50%);
  transition: border-color .2s ease;
}

.main-info__timer.blue {
  border-color: $colorBlue;
}

.main-info__timer__text {
  font-size: 35px;
  line-height: 98.023%;
  letter-spacing: -0.8px;
  color: $colorOrange;
  transition: color .2s ease;
}

.main-info__timer__text.blue {
  color: $colorBlue;
}

.main-info__select {
  position: relative;
  transition: opacity .3s ease;
}

.main-info__select.hide {
  opacity: 0;
}

.main-info__select__control {
  @include displayFlex;
  width: 77px;
  height: 51px;
  padding: 8px;
  border-radius: 56px;
  background-color: $colorBlack;

  &:hover .main-info__select__arrow{
    transform: rotate(-180deg);
  }

  .main-info__select__arrow {
    transition: transform .20s ease-in-out;

    .blue {
      stroke: $colorBlue;
    }
  }
}

.main-info__select__selected {
  margin-right: 2px;
  padding: 5px 6px;
  border-radius: 50%;
  background-color: $colorOrange;
  font-family: $fontMachina;
  font-size: 18px;
  font-weight: 700;
  color: $colorBlack;
}

.main-info__select__list {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 13px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  width: 100%;
  height: 0;
  padding: 13px;
  overflow: hidden;
  border-radius: 20px;
  background-color: $colorOrange;
  transition: all .2s ease;
  //transition: all .2s ease;
}

.main-info__select__list.active {
  height: 140px;
  padding-top: 40px;
}

.main-info__select__list.blue {
  background-color: $colorBlue;
}

.main-info__select-item {
  width: 100%;
  font-size: 16px;
  color: $colorBlack;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    text-decoration: underline;
  }
}

.main-info__select-item.blue {
  color: $colorWhite;
}

.main-wrapper__task {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 98.023%;
  letter-spacing: -0.8px;
  color: $colorWhite;
}

.main-task {
  position: relative;
  min-height: 450px;
  padding: 40px;
  border-radius: 20px;
  background-color: $colorBlack;
}

.main-task__code {
  margin-bottom: 20px;
  font-size: 34px;
  line-height: 98.023%;
  letter-spacing: -0.8px;
  color: $colorWhite;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-task__char {
  opacity: .5;
  letter-spacing: 1px;
}

.main-task__char.current.blue {
  color: $colorBlue;
}

.main-task__char.current {
  position: relative;
  opacity: 1;
  color: $colorOrange;

  &:before {
    content: '';
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: $colorOrange;
    animation: fadeInOut .8s infinite;
  }
}

.main-task__char.current.active-task {

  &:before {
    animation: none;
  }

}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main-task__char.correct {
  opacity: 1;
}

.main-task__char.incorrect {
  color: #be1616;
}

.main-task__input {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

//.main-task__input {
//  width: 100%;
//  font-size: 40px;
//  line-height: 98.023%;
//  letter-spacing: -0.8px;
//  color: $colorOrange;
//
//  &::placeholder {
//    color: $colorOrange;
//    opacity: .3;
//    transition: color .2s ease;
//  }
//
//}
//
//.main-task__input.blue {
//  color: $colorBlue;
//
//  &::placeholder {
//    color: $colorBlue;
//  }
//}

// statistics start

.statistics-top {
  @include displayFlex;
  justify-content: center;
  height: 119px;
  margin-bottom: 180px;
  background-color: $colorOrange;
  border-radius: 20px;



  .statistics-top__title {
    font-size: 40px;
    //font-weight: 400;
    line-height: 98.023%;
    letter-spacing: -0.8px;
    color: $colorBlack;
  }

  .statistics-top__title.blue {
    color: $colorWhite;
  }
}

.statistics-top.blue {
  background-color: $colorBlue;
}

.statistics-info {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 90px;
  max-width: 1500px;
  margin: auto;
  margin-bottom: 180px;

  .statistics-info__block {
    display: flex;
    align-items: start;

    //&:nth-child(2) {
    //  justify-self: end;
    //}
    //
    //&:nth-child(4) {
    //  justify-self: end;
    //}

    .statistics-info__block__img {
      margin-top: 5px;
      margin-right: 32px;

      .blue {
        fill: $colorBlue;
      }

      .blue-stroke {
        stroke: $colorBlue;
      }
    }

    .statistics-info__block__value {
      margin-bottom: 16px;
      font-size: 64px;
      font-weight: 400;
      line-height: normal;
    }

    .statistics-info__block__description {
      font-size: 32px;
      line-height: 98.023%;
      letter-spacing: -0.8px;
      color: $colorOrange;
    }

    .statistics-info__block__description.blue {
        color: $colorWhite;
    }
  }
}

.statistics-bottom {
  @include displayFlex;
  margin: auto;
  max-width: 200px;

  .statistics-bottom__button:hover .statistics-bottom__img{
    transform: scale(120%);
  }

  .statistics-bottom__img {
    width: 48px;
    height: 48px;
    transition: transform .15s ease;

    .blue {
      stroke: $colorBlue;
    }

    .blue-fill {
      stroke: $colorBlue;
      fill: $colorBlue;
    }
  }
}

.restart-img {
  transition: stroke .2s ease;
}

.restart-img.blue {
  stroke: $colorBlue;
}





