@import "main";

.massage-wrapper {
  z-index: 1000;
  position: absolute;
  right: 30px;
  @include displayFlex;
  max-width: 450px;
  max-height: 100px;
  padding: 20px;
  border-radius: 20px;
  background-color: $colorGrey;

  .massage-wrapper__text {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 24px;
    color: $colorOrange;
  }

  .massage-wrapper__close {
    width: 25px;
    height: 25px;
  }

  .massage-wrapper__img {
    width: 25px;
    height: 25px;
    fill: $colorOrange;
  }
}