@import "main";

.modal-win-wrapper {
  z-index: 999;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .6);

}

.modal-win {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  padding: 30px;
  border-radius: 30px;
  background-color: $colorGrey;
}

.modal-win__title {
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $colorOrange;
}

.modal-win__block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  .modal-win__block__input {
    z-index: 3;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 10px;
    border-radius: 15px;
    border: 2px solid $colorOrange;
    font-size: 22px;
    color: $colorOrange;
  }

  .modal-win__block__placeholder {
    z-index: 2;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-70%);
    font-size: 16px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .15s ease-in-out;

  }
  .modal-win__block__placeholder.active {
    top: 2px;
    font-size: 12px;
    transform: translateY(0);
  }

  .modal-win-check {
    position: absolute;
    right: 15px;
    transform: translateY(70%);
    width: 20px;
    fill: $colorOrange;
  }
}

.modal-win-check.error {
  transform: translateY(65%);
  fill: $colorRed;
}

.modal-win__block__btn {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $colorWhite;

}

