@import "main";

.sidebar {
  z-index: 999;
  position: fixed;
  width: 115px;
  background-color: $colorGrey;
  transition: width .25s ease, transform .25s ease-in-out;
}

.sidebar:hover {
  width: 229px;
}

.sidebar:hover .sidebar-wrapper__block {
  margin-left: 0;
}

.sidebar:hover .sidebar-logo__wrap-small {
  opacity: 0;
  top: 30px;
}

.sidebar:hover .sidebar-logo__wrap-big {
  opacity: 1;
  top: 0;
}

.sidebar:hover .sidebar-wrapper__btn {
  opacity: 1;
}

.sidebar:hover .sidebar-wrapper__img {
  margin-right: 16px;
}

.sidebar-wrapper {
  overflow: hidden;
  display: grid;
    grid-template-columns: 100%;
    align-content: space-between;
  height: 100vh;
  padding: 40px 20px;
  transition: all .25s ease;
}

.sidebar-logo {
  width: 100%;
  height: 65px;
}

.sidebar-logo.mobile {
  width: 65px;
  display: none;
}

.sidebar-logo__link {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.sidebar-logo__wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all .25s ease;

  img {
    width: 75px;
  }
}

.sidebar-logo__big {
  transition: stroke .2s ease;

  .blue {
    stroke: $colorBlue;
  }
}


.sidebar-logo__wrap-small {
  transition: all .25s ease-in-out;

  .sidebar-logo__small {
    transition: stroke .2s ease;

    .blue {
      stroke: $colorBlue;
    }
  }
}

.sidebar-logo__wrap-big {
  opacity: 0;
  top: 20px;
  transition: all .25s ease-in-out;

  img {
    width: 160px !important;
  }
}

.sidebar-wrapper__block {
  margin-left: 20px;
  transition: all .25s ease;
}

.sidebar-wrapper__btn-block {
  position: relative;
  @include displayFlex;
  justify-content: start;

  &:not(:last-child) {
    margin-bottom: 36px;
  }

  .sidebar-wrapper__img {
    transition: all .25s ease-in-out;
  }

  .sidebar-wrapper-path-stroke {
    transition: stroke .2s ease;
  }

  .sidebar-wrapper-path-stroke.blue {
    stroke: $colorBlue;
  }

  .sidebar-wrapper-path {
    transition: fill .2s ease;
  }

  .sidebar-wrapper-path.blue {
    fill: $colorBlue;
  }

  .sidebar-wrapper__btn {
    position: absolute;
    left: 41px;
    opacity: 0;
    min-width: 100px;
    text-align: start;
    font-size: 24px;
    line-height: 98.023%;
    color: $colorWhite;
    transition: all .25s ease-in-out;
  }

}

.sidebar-wrapper__btn-block:hover .sidebar-wrapper__img {
  transform: scale(120%);
}

.sidebar__wrapper__creator {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 98.023%;
  letter-spacing: -0.6px;
  color: $colorOrange;
  text-transform: uppercase;
}

@media(max-width: 980px) {

  .sidebar:hover {
    width: 100%;
  }

  .sidebar:hover .sidebar-wrapper__block {
    margin-left: initial;
  }

  .sidebar:hover .sidebar-logo__wrap-small,
  .sidebar:hover .sidebar-logo__wrap-big,
  .sidebar:hover .sidebar-wrapper__btn,
  .sidebar:hover .sidebar-wrapper__img {
    opacity: 0;
    top: 0;
  }

  .sidebar {
    right: 0;
    width: 100%;
  }

  .sidebar-wrapper {
    grid-auto-flow: column;
    grid-template-columns: auto;
    justify-content: space-between;
    align-content: center;
    height: 90px;
  }

  .sidebar-wrapper__btn {
    display: none;
  }

  .sidebar-logo {
    display: none;
  }

  .sidebar-logo.mobile {
    display: block;
  }

  .sidebar-wrapper__block {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0;
  }

  .sidebar-wrapper__btn-block {

    &:not(:last-child) {
      margin: 0 30px 0 0;
    }

  }

}

@media(max-width: 590px) {

  .sidebar-wrapper {
    height: 80px;
    padding: 20px 10px;
  }

  .sidebar-wrapper__btn-block {

    &:not(:last-child) {
      margin: 0 15px 0 0;
    }

  }

}

@media(max-width: 450px) {

  .sidebar-logo.mobile {
    transform: scale(80%);
  }

  .sidebar-wrapper__btn-block {
    transform: scale(80%);

    &:not(:last-child) {
      margin: 0 8px 0 0;
    }
  }

}
