
$fontInter: 'Inter', sans-serif;
$fontMachina: 'NeueMachina', sans-serif;

$colorWhite: #EBEBEB;
$colorGrey: #212121;
$colorGreyLight: #4f4f4f;
$colorBlack: #000000;
$colorOrange: #FEB81C;
$colorBlue: #2D66A1;
$colorRed: #e31b1b