
$fontInter: 'Inter', sans-serif;
$fontMachina: 'NeueMachina', sans-serif;

$colorWhite: #EBEBEB;
$colorGrey: #313131;
$colorGreyLight: #4f4f4f;
$colorBlack: #252522;
$backgroundColor: #1e1d1b;
$colorOrange: #FEB81C;
$colorBlue: #2D66A1;
$colorRed: #e31b1b